USE [Alva]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 18/09/2026 19:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL,
	[numero] [varchar](12) NULL,
	[data_cadastro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[funcionario]    Script Date: 18/09/2026 19:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionario](
	[id_funcionario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[senha] [varchar](255) NOT NULL,
	[perfil] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historico_status]    Script Date: 18/09/2026 19:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historico_status](
	[id_historico] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NULL,
	[id_status] [int] NULL,
	[id_funcionario] [int] NULL,
	[data_hora] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_pedido]    Script Date: 18/09/2026 19:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_pedido](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_servico] [int] NOT NULL,
	[quantidade] [int] NULL,
	[valor_cobrado] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notificacao]    Script Date: 18/09/2026 19:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notificacao](
	[id_notificacao] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[id_pedido] [int] NULL,
	[tipo] [varchar](50) NULL,
	[token_acesso] [varchar](300) NULL,
	[mensagem] [varchar](500) NULL,
	[data_envio] [datetime] NULL,
	[data_expiracao] [datetime] NOT NULL,
	[status_envio] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_notificacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token_acesso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 18/09/2026 19:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_funcionario_triagem] [int] NOT NULL,
	[id_status_atual] [int] NOT NULL,
	[id_funcionario_bloqueio] [int] NULL,
	[data_abertura] [datetime] NOT NULL,
	[data_conclusao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servico]    Script Date: 18/09/2026 19:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servico](
	[id_servico] [int] IDENTITY(1,1) NOT NULL,
	[nome_peca] [varchar](50) NOT NULL,
	[tipo_servico] [varchar](100) NOT NULL,
	[preco_unitario] [decimal](18, 0) NOT NULL,
	[ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_pedido]    Script Date: 18/09/2026 19:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_pedido](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[nome_status] [varchar](50) NULL,
	[ordem] [int] NOT NULL,
 CONSTRAINT [PK_status_pedido] PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pedido] ADD  DEFAULT (getdate()) FOR [data_abertura]
GO
ALTER TABLE [dbo].[servico] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[historico_status]  WITH CHECK ADD  CONSTRAINT [fk_id_funcionario] FOREIGN KEY([id_funcionario])
REFERENCES [dbo].[funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[historico_status] CHECK CONSTRAINT [fk_id_funcionario]
GO
ALTER TABLE [dbo].[historico_status]  WITH CHECK ADD  CONSTRAINT [fk_id_pedidoh] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[pedido] ([id_pedido])
GO
ALTER TABLE [dbo].[historico_status] CHECK CONSTRAINT [fk_id_pedidoh]
GO
ALTER TABLE [dbo].[historico_status]  WITH CHECK ADD  CONSTRAINT [fk_id_status] FOREIGN KEY([id_status])
REFERENCES [dbo].[status_pedido] ([id_status])
GO
ALTER TABLE [dbo].[historico_status] CHECK CONSTRAINT [fk_id_status]
GO
ALTER TABLE [dbo].[item_pedido]  WITH CHECK ADD  CONSTRAINT [fk_id_pedido] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[pedido] ([id_pedido])
GO
ALTER TABLE [dbo].[item_pedido] CHECK CONSTRAINT [fk_id_pedido]
GO
ALTER TABLE [dbo].[item_pedido]  WITH CHECK ADD  CONSTRAINT [fk_id_servico] FOREIGN KEY([id_servico])
REFERENCES [dbo].[servico] ([id_servico])
GO
ALTER TABLE [dbo].[item_pedido] CHECK CONSTRAINT [fk_id_servico]
GO
ALTER TABLE [dbo].[notificacao]  WITH CHECK ADD  CONSTRAINT [fk_id_cliente] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[pedido] ([id_pedido])
GO
ALTER TABLE [dbo].[notificacao] CHECK CONSTRAINT [fk_id_cliente]
GO
ALTER TABLE [dbo].[notificacao]  WITH CHECK ADD  CONSTRAINT [fk_id_cliente_not] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[notificacao] CHECK CONSTRAINT [fk_id_cliente_not]
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD  CONSTRAINT [FK_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[pedido] CHECK CONSTRAINT [FK_cliente]
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD  CONSTRAINT [FK_funcionario_triagem] FOREIGN KEY([id_funcionario_triagem])
REFERENCES [dbo].[funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[pedido] CHECK CONSTRAINT [FK_funcionario_triagem]
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD  CONSTRAINT [FK_id_funcionario_bloqueio] FOREIGN KEY([id_funcionario_bloqueio])
REFERENCES [dbo].[funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[pedido] CHECK CONSTRAINT [FK_id_funcionario_bloqueio]
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD  CONSTRAINT [FK_id_status_atual] FOREIGN KEY([id_status_atual])
REFERENCES [dbo].[status_pedido] ([id_status])
GO
ALTER TABLE [dbo].[pedido] CHECK CONSTRAINT [FK_id_status_atual]
GO
